<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bouton-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{135,150}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,55},{135,150}}</string>
                <key>sourceSize</key>
                <string>{169,210}</string>
            </dict>
            <key>bouton-on-no.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{169,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,206}}</string>
                <key>sourceSize</key>
                <string>{169,210}</string>
            </dict>
            <key>bouton-on-yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,206}}</string>
                <key>sourceSize</key>
                <string>{169,210}</string>
            </dict>
            <key>ch-1-ghb.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,323},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>ch-2-lsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,232},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>jauge-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,125},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
            <key>jauge-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,109},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
            <key>jauge-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,93},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
            <key>jauge-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,400},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
            <key>moins-1-hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,141},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>moins-2-canna.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>moins-3-tramadol.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>moins-4-alcool.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,245},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>moins-5-opium.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,154},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>neutre.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,416},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>plus-1-cocaine.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,416},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>plus-2-cafe.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,245},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>plus-3-champi.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,154},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>plus-4-meth.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,418},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>plus-5-exta.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>rival-jauge-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,384},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
            <key>rival-jauge-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,368},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
            <key>rival-jauge-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,352},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
            <key>rival-jauge-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,336},{187,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,14}}</string>
                <key>sourceSize</key>
                <string>{187,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93e36381827ec2e5516b9260209b077f$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
